APP_NAME=EduNep
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://yourdomain.com
APP_LOCALE=en
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=edunep
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=ap2
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@edunep.com
MAIL_FROM_NAME=EduNep

CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name

# Nepal SMS - Africa's Talking
AT_USERNAME=
AT_API_KEY=
AT_SENDER_ID=EduNep

# eSewa
ESEWA_MERCHANT_CODE=
ESEWA_SECRET_KEY=
ESEWA_ENV=sandbox

# Khalti
KHALTI_SECRET_KEY=
KHALTI_ENV=sandbox

SANCTUM_STATEFUL_DOMAINS=localhost,127.0.0.1,yourdomain.com
